@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: #ea8823;
  scroll-behavior: smooth;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.container {
  position: relative;
  margin-bottom: 65px;
}
.navbar {
  top: 0;
  position: relative;
  display: flex;
  background-color: #ea8823;
  z-index: 99;
  width: 100%;
  padding: 25px 155px;
  z-index: 9;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin-right: 45px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

.link {
  color: black;
  font-weight: light;
  text-decoration: none;
}

.search input {
  height: 30px;
  background-color: #ea8823;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 15px;
}
.search input:focus {
  outline: none;
}

.search {
  column-gap: 15px;
  display: flex;
  align-items: center;
}
.loginSection {
  column-gap: 15px;
  display: flex;
}
.loginSection .registerButton {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.loginSection .loginButton {
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  padding: 6px 25px;
  background-color: white;
}

.keranjangNavbar {
  position: relative;
}
.shopingchart {
  font-size: 28px;
  color: black;
}
.jumlahCheckout {
  border-radius: 50%;
  color: white;
  padding: 2px 7px;
  background-color: #ae2012;
  position: absolute;
  top: -10px;
  right: -10px;
}
